@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #0d0630;
  --color-secondary: #18314f;
  --color-border: #384e77;
  --color-accent: #8bbeb2;
  --color-highlight: #e6f9af;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-primary);
}
